.bg-video {
    position: absolute; //.section-story debe ser position:relative; es el parent.
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    // Pra que el video se ajuste al tamano del contenedor

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //para que el video mantenga el ratio de aspecto.
    }
}